<div class="page-container">
  <header>
    <h1 class="header">Flip Strategy for ng-zorro-antd</h1>
  </header>
  <div class="content-container">
    <section id="demo">
      <h2 class="header">Custom: Flip</h2>
      <div class="full-width-container">
        <nz-carousel [nzEffect]="'flip'" [nzDotRender]="dotTpl">
          <div nz-carousel-content>A</div>
          <div nz-carousel-content>B</div>
          <div nz-carousel-content>C</div>
          <div nz-carousel-content>D</div>
        </nz-carousel>
      </div>

    </section>
    <section id="scroll">
      <h2 class="header">Scroll</h2>
      <div class="full-width-container">
        <nz-carousel [nzEffect]="'scrollx'" [nzDotRender]="dotTpl">
          <div nz-carousel-content>A</div>
          <div nz-carousel-content>B</div>
          <div nz-carousel-content>C</div>
          <div nz-carousel-content>D</div>
        </nz-carousel>
      </div>
    </section>
    <footer class="footer">MIT, 2019 © Wendell Hu with ❤️</footer>
  </div>
</div>

<ng-template #dotTpl>
  <div class="dot"></div>
</ng-template>
